<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ config.extra.keywords | join(sep=', ') }}">
<meta name="author" content="{{ config.author }}">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="preload" href="/MonaspiceKrNerdFont-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" as="style" href="/main.css">
<link rel="stylesheet" href="/main.css" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="/main.css"></noscript>
<title>
	{% if page.title %}
		{{ page.title }} - 
	{% elif section.title %}
		{{ section.title }} - 
	{% endif %}
	{{ config.title }}
</title>
<meta
	name="description"
	content="{% block description %}{{ config.description}}{% endblock %}"
>
