<!DOCTYPE html>
<html lang="sv">
    <head>
        {% include "partials/head.html" %}
        <style>
	    body {
		justify-content: center;
	    }
	    main {
		padding: 0;
		display: block;
		text-align: center;
		font-size: 125%;
		> h1 {
		    margin: 0;
		}
		> ul, > p {
		    list-style: none;
		    padding-left: 0;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    gap: 2em;
		}
	    }
        </style>
    </head>
    <body>
        <main>
            {{ section.content | markdown | safe }}
        </main>
    </body>
</html>
